*{
    font-family: 'Arial','Open Sans', sans-serif;
   
}
#footer{
    background: linear-gradient(to right, #757575, #637281, #304152 );
    animation: gradient-animation 12s ease infinite;
    background-size: 240% 240%;
    padding: 20px 0px;
    margin-top: 30px;
}

.footer-text{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 500;
}

   
@media only screen and (max-width: 670px) {
  
    #footer{
        padding: 20px 0px;
        margin-top: 30px;
        width: 100%;
    }
   }
   
@media only screen and (min-width:671px)and (max-width: 970px) {
  
    #footer{
        padding: 20px 0px;
        margin-top: 30px;
        width: 100%;
    }
   }
   @media only screen and (min-width:971px)and (max-width: 1120px) {
  
    #footer{
        padding: 20px 0px;
        margin-top: 30px;
        width: 100%;
    }
   }