*{
    color: white;
    font-family: 'Arial','Open Sans', sans-serif;
}
#skills{
    background-color: rgb(138, 157, 193);
    padding: 20px 0px;
}

#skills>h1{
    font-size: 50px;
    padding: 10px 0px 35px 0px;
}

.skills-part1{
    display: grid;
    width: 90%;
    margin: auto;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
}

.skills-card-img{
    width: 100px;
    height: 100px;
}

.skills-card-name{
    font-size: 18px;
    font-weight: 700;
}

.skills-part2{
    width: 80%;
    margin: auto;
    padding: 30px 0px;
}

.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    padding: 25px 0px;
}

.skills-part2>ul{
    list-style: none;
    text-align: center;
}

.skills-part2 li{
    font-size: 25px;
    line-height: 2.5em;
    font-weight: 400;
}


@media only screen and (max-width: 670px) {
    .skills-part1{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    
.skills-part2 li{
    font-size: 18px;
    line-height: 2.5em;
    font-weight: 400;
    text-align: center;
    
}
.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -20px;
}
.skills-part2{
    width: 80%;
    text-align: center;
}
.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    /* padding: 25px 0px; */
}
#skills{
    background-color: rgb(138, 157, 193);
    padding: 20px 0px;
}
.skills-part2>ul{
    list-style: none;
    /* text-align: center; */
    padding-left: 20px;
}

}

@media only screen and (min-width:671px) and (max-width: 970px) {
    .skills-part1{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
    
.skills-part2 li{
    font-size: 18px;
    line-height: 2.5em;
    font-weight: 400;
    text-align: center;
    
}
.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -20px;
}
.skills-part2{
    width: 80%;
    text-align: center;
}
.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    /* padding: 25px 0px; */
}
#skills{
    background-color: rgb(138, 157, 193);
    padding: 20px 0px;
}
.skills-part2>ul{
    list-style: none;
    /* text-align: center; */
    padding-left: 20px;
}

}
@media only screen and (min-width:971px) and (max-width: 1120px) {
    .skills-part1{
        display: grid;
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(4, 1fr);
        row-gap: 30px;
    }
    
.skills-part2 li{
    font-size: 18px;
    line-height: 2.5em;
    font-weight: 400;
    text-align: center;
    
}
.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: -20px;
}
.skills-part2{
    width: 80%;
    text-align: center;
}
.skills-part2>p{
    font-size: 35px;
    font-weight: 600;
    /* padding: 25px 0px; */
}
#skills{
    background-color: rgb(138, 157, 193);
    padding: 20px 0px;
}
.skills-part2>ul{
    list-style: none;
    /* text-align: center; */
    padding-left: 20px;
}

}